# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



# CMake-specific files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Build artifacts
build/
bin/
lib/

# Testing artifacts
*.gcda
*.gcno

# Packaging artifacts
_CPack_Packages/
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_SourcePackages/

# IDE-specific files (adjust as needed)
.vscode/
